body {
    background-image: url('');
    background: linear-gradient(95deg,rgb(29, 28, 28),rgb(10, 112, 207));
   
 
    background-size: cover;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logout{
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 10%;
   background-color: red;
   color: #fff;
   left: 1220px;
   font-weight: 800;
  
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header h1 {
    text-align: center;
    color: white;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    margin-right: 10px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.card-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-control:last-child {
    margin-right: 0;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn-success {
    background-color: #14bd1d;
    color: #fff;
}

.btn-primary {
    background-color: #055bdd;
    color: #fff;
}

.btn-warning {
    background-color: #ff0000;
    color: #fff;
}

.balance, .spent {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.balance {
    background-color: #1f8a36;
    color: #fff;
}

.spent {
    background-color: #741c1b;
    color: #fff;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.text-center {
    text-align: center;
}

#CLEAR{
    margin: 15PX;
}

div{
    color: rgb(255, 255, 255);
}
H1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36PX;
    background-color: #1f1d1d8f;
   
    
}

#Admin{
    color: #e7e7e7;
   font-family: 'Times New Roman', Times, serif;
   font-size: 30px;
}
